@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;

    font-family: 'Dancing Script';
    font-weight: 900;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 8vh;
    
}


body{
    background-color: #1C1C1C;
    
}

button{
    cursor: pointer;
}

.container_inicial{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85vh;
    padding-top: 25px;
    
}

/* .container_infos {
    height: 64px;
    border-radius: 32px;
    padding: 0;
    width: 156px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
} */



.container_infos span{
    margin-top: 15px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
    margin: 0px 0px 15px;
    display: flex;
    justify-content: center;
}

.container_infos h1{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 125px;
    font-family: 'Dancing Script';
}
.container_desk{
       display: flex;
    flex-direction: column;
    color: whitesmoke;
    max-width: 1200;
}

.container_botoes{
    display: flex;
    align-items: center;
    justify-items: center;
<<<<<<< HEAD
    width: 100%;
    padding-top: 25px;
    align-content: center;
    width: 100%;
=======
    padding-top: 15px;
    align-content: center;
>>>>>>> 2c378a6c36acdc82161e0ddc2c983cbf09a2cb5b
    grid-gap: 12px;
    gap: 12px;
}

.container_botoes .Sobre_mimBTN:hover{
    transform: scale(1.1);
}

.container_botoes .Sobre_mimBTN a:hover{
    opacity: 0.7;
}

.container_botoes .Sobre_mimBTN{
    height: 64px;
<<<<<<< HEAD
    width: 200px;
=======
    max-width: 200px;
    width: 125px;
>>>>>>> 2c378a6c36acdc82161e0ddc2c983cbf09a2cb5b
    border-radius: 32px;
    background: transparent;
    border: 1px linear-gradient(90deg, #9572FC 0%, #800080 50.52%, #1a2771 100%);
    padding: 0px;

    margin-bottom: 2rem;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
    transition: transform .3s;
}

.container_botoes .Meus_ProjetosBTN:hover{
    transform: scale(1.1);
}

.container_botoes .Meus_ProjetosBTN a:hover{
    opacity: 0.7;
}

.container_botoes .Meus_ProjetosBTN{
    height: 64px;
<<<<<<< HEAD
    width: 200px;
=======
    max-width: 200px;
    width: 125px;
>>>>>>> 2c378a6c36acdc82161e0ddc2c983cbf09a2cb5b
    border-radius: 32px;
    background: transparent;
    border: 1px linear-gradient(90deg, #9572FC 0%, #800080 50.52%, #1a2771 100%);
    padding: 0px;

    margin-bottom: 2rem;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
    transition: transform .3s;
}

.container_botoes .ContatoBTN:hover{
    transform: scale(1.1);
}

.container_botoes .ContatoBTN a:hover{
    opacity: 0.7;
}

.container_botoes .ContatoBTN{
    height: 64px;
<<<<<<< HEAD
    width: 200px;
=======
    max-width: 200px;
    width: 125px;
>>>>>>> 2c378a6c36acdc82161e0ddc2c983cbf09a2cb5b
    border-radius: 32px;
    background: transparent;
    border: 1px linear-gradient(90deg, #9572FC 0%, #800080 50.52%, #1a2771 100%);
    padding: 0px;

    margin-bottom: 2rem;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
    transition: transform .3s;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;

}


.FotoResumo{
    /* padding-top: 32px; */
    height: 100%;
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #800080 50.52%, #1a2771 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

.FotoResumo img{
    width: 100%;
    border-radius: 50%;
}

.FotoResumo:hover{
    transform: scale(1.1);
}

.Resumo{
    display: flex;
    justify-content: center;
    
    margin-top: 25px;
    margin-bottom: 25px;
}


@media (max-width: 999px){

    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 82vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .container_botoes{
        flex-direction: column;
    }

    .container_botoes .Sobre_mimBTN{
        width: 175px;
    }

    .container_botoes .Meus_ProjetosBTN{
        width: 175px;
    }

    .container_botoes .ContatoBTN{
        width: 175px;
    }
    
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.card1{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/foto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}
.card2{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/foto4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}
.card3{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/gif2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}
.card4{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/foto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}
.card5{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/gif4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}
.card6{
    width: 300px;
    height: 500px;
    background-image: url(./src/img_cards/foto5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}

.grid{

}